<table class="widefat">
	<thead>
		<tr>
			<th style="manage-column">User Name &amp; ID</th>
			<th style="manage-column">Current page</th>
			<th style="manage-column">Geo Location (Country)</th>
			<th style="manage-column">Browser Information</th>
		<tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users_online track by $index">
			<td>
				<strong ng-if="!user.user">Unknown User</strong>
				<strong ng-if="user.user">{{user.user_username}} ({{user.user_id}})</strong>
			</td>
			<td>
				{{user.viewing}}
			</td>
			<td>
				<strong>{{ user.geo_location | json }}</strong>
			</td>
			<td>
				{{ user.browser | json }}
			</td>
		</tr>
	</tbody>
</table>